<h2>My Heroes</h2>

<div>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Add a new hero
          </mat-panel-title>
        </mat-expansion-panel-header>
  
    <mat-list>
      <mat-list-item>
          <mat-form-field>
            <input matInput #heroName placeholder="Hero name">
          </mat-form-field>
      </mat-list-item>
      <mat-list-item>
          <mat-slide-toggle #heroActive>
              Is active?
          </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <button (click)="add(heroName.value, heroActive.checked); heroName.value='';
          heroActive.checked=false;" matTooltip="Add a new hero named with the name provided in the box">
          add
        </button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>  

  <!-- (click) passes input value to add() and then clears the input -->
</div>

<table mat-table [dataSource]="heroes$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let hero">  <a mat-button routerLink="/detail/{{hero.id}}">{{hero.id}}</a> </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let hero"> <a mat-button routerLink="/detail/{{hero.id}}">{{hero.name}}</a> </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> delete </th>
    <td mat-cell *matCellDef="let hero"> 
        <button matTooltip="Irreversably removes {{hero.name}} from the list of heroes"  title="delete hero"
      (click)="delete(hero)">x</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



