/* HeroSearch private styles */
mat-option {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

mat-option {
  background-color: #D0D0D0;
}

mat-option a {
  color: #808080;
  display: block;
  text-decoration: none;
}

mat-option a:hover {
  color: black;
}
mat-option a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}